* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --timer-ff: "Roboto", sans-serif;
  font-size: 62.5%;
}

.hide {
  display: none;
}

main,
.timer,
.time-display,
.controls {
  display: flex;
  align-items: center;
}

main {
  flex-direction: column;
  justify-content: center;
  text-align: center;
  min-height: 100vh;
  padding-top: 10vh;
  gap: 5rem;
  width: clamp(30rem, 100vw, 150rem);
  margin: auto;
}

.theme-selector,
.alarm {
  text-align: right;
  margin: 0;
  padding: 0;
  height: 0px;
}

.theme-selector {
  position: relative;
  top: 5vh;
  right: calc(8vw - 36px);
  max-width: calc(100vw - 36px);
}

.alarm {
  position: absolute;
  top: 36px;
  left: 36px;
}

.timer {
  flex-direction: column;
  gap: 1.7rem;
}

.time-display {
  font-family: var(--timer-ff);
  font-style: normal;
  font-weight: 500;
  font-size: clamp(12.6rem, 20vw, 20rem);
  line-height: 14.8rem;
  text-align: center;
  color: #323238;
}

.controls {
  gap: clamp(4rem, 5vw, 10rem);
}

.sound-selector {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2.4rem;
}

.sound-selector button {
  display: flex;
  min-width: 13.8rem;
  min-height: 15.2rem;
  border-radius: 2rem;
  flex-direction: column;
  background-color: #e1e1e6;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
}

.sound-selector button:hover {
  filter: brightness(0.9);
}

.sound-selector button svg {
  width: 33.5%;
  margin: 0;
  margin: 2.4rem 0 3.8rem;
  height: 5.6rem; /* change with media queries */
}

.slider {
  -webkit-appearance: none;
  border-radius: 0.5rem;
  width: 65%;
  height: 0.4rem;
  background: #323238;
  outline: none;
  margin: 0;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 1.6rem;
  height: 1.6rem;
  border-radius: 50%;
  background: #323238;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  border: none;
  border-radius: 50%;
  width: 1.6rem;
  height: 1.6rem;
  background: #323238;
  cursor: pointer;
}

.sound-selector .button-pressed {
  background-color: #02799d;
}

.button-pressed path {
  fill: #fff;
}

.button-pressed .slider,
.button-pressed .slider::-webkit-slider-thumb {
  background: #fff;
}

.button-pressed .slider::-moz-range-thumb {
  background: #fff;
}

button {
  border: none;
  background: none;
  cursor: pointer;
}

.alarm .soundbars {
  position: absolute;
  transform: translate(-24px, -58px) rotate(270deg);
}

.controls button:hover,
.light-theme:hover,
.alarm:hover {
  filter: drop-shadow(0px 0px 1px #323238);
}

.dark-theme:hover {
  filter: drop-shadow(0px 0px 1px #fff);
}

.controls .dark-mode:hover {
  filter: drop-shadow(0px 0px 2px #fff);
}

.dark-mode-background {
  background-color: #121214;
}

.dark-mode-time-display {
  color: #fff;
}

.dark-mode-control-buttons,
.dark-mode-sound-selector-icons {
  fill: #c4c4cc;
}

.sound-selector .dark-mode-sound-selector-buttons {
  background-color: #29292e;
}

.dark-mode-sound-selector-buttons.button-pressed {
  background-color: #0a3442;
}

.dark-mode-sound-selector-buttons .slider,
.dark-mode-sound-selector-buttons .slider::-webkit-slider-thumb {
  background: #fff;
}

.dark-mode-sound-selector-buttons
  .dark-mode-control-buttons
  .slider::-moz-range-thumb {
  background: #fff;
}

.dark-mode-alarm,
.dark-mode-soundbars {
  fill: #fff;
}

.alarm .dark-mode-alarm-hover:hover {
  filter: drop-shadow(0px 0px 2px #fff);
}

.alarm-alert path {
  animation: color-change 1.1s infinite;
}

@keyframes color-change {
  0% {
    fill: #323238;
  }
  50% {
    fill: tomato;
  }
  100% {
    fill: #323238;
  }
}

.alarm-icon-shake {
  animation: tilt-n-move-shaking 0.125s infinite;
}

@keyframes tilt-n-move-shaking {
  0% {
    transform: translate(0, 0) rotate(0deg);
  }
  25% {
    transform: translate(6px, 6px) rotate(30deg);
  }
  50% {
    transform: translate(0, 0) rotate(0eg);
  }
  75% {
    transform: translate(-6px, 6px) rotate(-30deg);
  }
  100% {
    transform: translate(0, 0) rotate(0deg);
  }
}

@media (min-width: 600px) {
  main {
    min-height: 90vh;
    padding-top: 0;
  }

  .theme-selector,
  .alarm {
    position: relative;
    text-align: right;
    margin: 0;
    padding: 0;
    height: 5vh;
  }

  .theme-selector {
    top: calc(9.4vh);
    right: calc(5vw - 36px);
    max-width: calc(100vw - 36px);
  }

  .alarm {
    top: auto;
    left: auto;
    right: calc(5vw - 48px);
    bottom: 10.4vh;
    max-width: calc(100vw - 48px);
  }

  .timer {
    gap: 4.8rem;
  }

  .timer svg {
    width: 64px;
    height: 64px;
  }
}

@media (min-width: 1000px) {
  main {
    flex-direction: row;
    gap: 19.2rem;
  }

  .timer {
    gap: 3.2rem;
  }

  .controls {
    gap: 4rem;
  }

  .time-display {
    font-size: clamp(12.6rem, 20vw, 20rem);
    font-size: 12.6rem;
  }

  .sound-selector {
    gap: 3.2rem;
  }

  .timer svg {
    width: 48px;
    height: 48px;
  }
}
